/* --------------------------------------------------------------
Navigation
-------------------------------------------------------------- */
#navbar{
flex-direction: column;
}
#navbar ul li {
    font-size: 1rem;
}
#navbar ul li a{
   padding:7px 5px;
}
/* --------------------------------------------------------------
Home
-------------------------------------------------------------- */
#home{
padding:0px 10px;
height:300px;
}
#home::before{
    height:410px;
}
#home p{
    font-size: 1rem;
}
/* --------------------------------------------------------------
services
-------------------------------------------------------------- */
#services{

flex-direction: column;

}

#services .box img{
    height:100px;
}
/* --------------------------------------------------------------
clients
-------------------------------------------------------------- */


.clients-item{
    padding:0px;
}
/* --------------------------------------------------------------
contact us
-------------------------------------------------------------- */
#contact{
    
}
/* --------------------------------------------------------------
footer
-------------------------------------------------------------- */
footer{

}
/* --------------------------------------------------------------
Utility classes
-------------------------------------------------------------- */
.h-primary{
    font-size:1.2rem;
}



